.DS_Store
auto-save-list
backup
elpa
network-security.data
projectile-bookmarks.eld
projectile.cache
my/my-custom.el
recentf
eshell
/.org-id-locations
/bookmarks
/esnunes.config.el
/esnunes.custom.el
/org-roam.db
/server/
/transient/
/.lsp-session-v1
/projects
